# Example properties file for scatterbrain
host = localhost
port = 10617
user = user
password = password
account = scatter
scatter = 20
prefix = scatterbrain
interval = 240
stakeThreshhold = 10
stakeMean = 20
stakeSD = 2
transferMin = 0.01
transferMax = 0.25
minimum=2000
